<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377703067671-ano0mdmqrd5e4coraq1di3jpoa881j3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377703067671-ano0mdmqrd5e4coraq1di3jpoa881j3i</string>
	<key>API_KEY</key>
	<string>AIzaSyBdfqqhfP0B1bXUtsSHyRaKytxv5F1U_Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>377703067671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstSwap</string>
	<key>PROJECT_ID</key>
	<string>swapit-474e1</string>
	<key>STORAGE_BUCKET</key>
	<string>swapit-474e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377703067671:ios:7bc93e5c5497c276ab2c52</string>
</dict>
</plist>